---
layout: default
title: Home
permalink:

---
</div>
</div>
<!-- We've temporary closed main-content and container to have a full width intro -->
<!-- Home Jumbotron
================================================== -->
<section class="intro">
    <!-- <center> -->

        <img src="/assets/images/nick_park.jpg" style="border-radius: 50%"
             height="250px !important" width="250px !important" alt="A picture of author.">
        <br><br><br><br>
        <div class="intro-text">
          <h1>Hi, I'm <span>Nick Stroncea</span></h1>
          <br><br><br>
          <h5>Entrepreneurial student with a passion for open source, self improvement<!-- through self-tracking-->, and solving meaningful problems with technology. I post CS projects and ideas I find interesting.<h5>
          <!-- <h4>Interested in Open Source, AI, and Social Change, Scripting.</h4> -->
          <!-- <h6 style="color:#696969">I'm passionate about Open Source, AI, and Scripting.<h6> -->
          <!-- <h6 style="color:#696969">In my free time I enjoy cycling and running, self-improvement through self-tracking, and automating things.<h6> -->
          <!-- <p style="color:#696969">Other things I enjoy is self improvement, life logging, and challenges. -->
          <!-- <a href="/about/" class="btn" style="color:#f5f5f5">View More about me</a> -->
        </div>

    <!-- </center> -->
</section>

<!-- We reopen main-content and container -->
<div class="container">
    <div class="main-content">
        <!-- Featured
        ================================================== -->
        <!-- <section class="featured-posts">
            <div class="section-title">
                <h2><span>Featured Blog!</span></h2>
            </div>
            <div class="row listfeaturedtag">
                {% for post in site.posts %}
                {% if post.featured == true %}
                {% include featuredbox.html %}
                {% endif %}
                {% endfor %}
            </div>
        </section> -->

        <!-- Posts Index
        ================================================== -->
        {% if paginator.previous_page %}
        {% if paginator.previous_page > 0 %}
        <div id="jumptopageof"></div>
        {% endif %}
        {% endif %}
        <section class="recent-posts row">
            <div class="col-sm-12">
                <div class="section-title">
                    <h2><span>Blog Posts</span></h2>
                </div>
                <div class="masonrygrid row listrecent">
                    {% for post in paginator.posts %}
                    {% unless post.featured == true %}
                    {% include postbox.html %}
                    {% endunless %}
                    {% endfor %}
                </div>

                <!-- Pagination -->
                <div class="bottompagination">
        <span class="navigation" role="navigation">
            {% include pagination.html %}
        </span>
                </div>
            </div>

            <!-- Sidebar -->
            <!-- <div class="col-sm-4">
                {% comment %}
                {% include sidebar.html %}
                {% endcomment %}

            </div> -->
        </section>
